@media only screen and (max-width: 600px) {
  .item1 {grid-area: 1 / span 6;}
  .item2 {grid-area: 2 / span 6;}
  .item3 {grid-area: 3 / span 6;}
  .item4 {grid-area: 4 / span 6;}
  .item5 {grid-area: 5 / span 6;}
}

* {
  color: black;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

body, html, #root {
  padding: 0px;
  margin: 0px;
}

.header {
  background-color: rgba(235, 78, 0, 0.818);
}

.header h1 {
  color: white;
}

.articleTitle{
  font-weight: bold;
}

.responsive {
  width: 100%;
  height: auto;
  max-width:fit-content;
}

.comment-card{
  border: 1px solid rgba(235, 78, 0, 0.818);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.article-card{
  border-bottom: 2px solid rgba(235, 78, 0, 0.818);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

#body {
  font-size: 14px; 
  width: 400px;
}

.footer{
background-color: rgba(235, 78, 0, 0.818);
position: fixed;
left: 0;
bottom: 0;
width: 100%;
color: white;
text-align: center;
}